Repository GoogleCloudPlatform/data-migration-tool, changes with the owners that CODEOWNERS names for each.
All owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber, @latika-wadhwa

Updated the variable for storage object in main.tf.
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update composer tf to depend on service agent and worker iam bindings
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update composer tf to depend on service agent and worker iam bindings (#49)
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update docs for shared vpc commands
  docs/installation/README.md
  docs/installation/README_teradata_datamigration.md
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update default td agent vm machine config
  terraform/datamigration/teradata/gce/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

reduce default VM size
  terraform/datamigration/teradata/gce/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update Teradata Agent VM default sizes and docs fixes (#50)
  docs/installation/README.md
  docs/installation/README_teradata_datamigration.md
  terraform/datamigration/teradata/gce/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

bump terraform and terragrunt versions
  ci/dependencies.sh
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

bump composer image version
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update DVT version
  src/translation/dvt/requirements.txt
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Set indefinite subscription expiration
  terraform/datamigration/hive/bq_inc/main.tf
  terraform/datamigration/redshift/cloudrun/main.tf
  terraform/datamigration/teradata/cloudrun/main.tf
  terraform/datamigration/teradata/pubsub/main.tf
  terraform/translation/cloudrun/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update TD migration agent version, and set agent VM to use latest image from family
  src/translation/scripts/teradata/extract_teradata_ddls.sh
  terraform/datamigration/teradata/gce/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Tidy up installation readme.
  docs/installation/README.md
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Add TF firewall rule and remove from post-install steps
  docs/installation/README.md
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update dependency versions, remove Pub/Sub subscription expiry, tidy docs (#53)
  ci/dependencies.sh
  docs/installation/README.md
  src/translation/dvt/requirements.txt
  src/translation/scripts/teradata/extract_teradata_ddls.sh
  terraform/datamigration/hive/bq_inc/main.tf
  terraform/datamigration/redshift/cloudrun/main.tf
  terraform/datamigration/teradata/cloudrun/main.tf
  terraform/datamigration/teradata/gce/variables.tf
  terraform/datamigration/teradata/pubsub/main.tf
  terraform/translation/cloudrun/main.tf
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Move Composer GKE pod firewall rule to Terraform (#54)
  docs/installation/README.md
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Add translation input config validation
  src/common_utils/constants.py
  src/tests/unit/input_validation_utils_test.py
  src/translation/dags/translation_utils/input_validation_utils.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Add config validation to controller dag
  src/translation/dags/controller_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Update SECRET_PREFIX value and reference constants file for it wherever possible.
  src/common_utils/constants.py
  src/datamigration/dags/redshift/redshift_data_load_dag.py
  src/datamigration/scripts/teradata/agent_controller/controller.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_oracle_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_redshift_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_teradata_ddl_extraction_group.py
  src/translation/dags/validation_dag.py
  src/translation/dvt/main.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Update secret prefix in sample and test json files.
  samples/configs/oracle/sampleconfig_for_ddl_sql_oracle.json
  samples/configs/redshift/sampleconfig_for_data_migration_redshift.json
  samples/configs/redshift/sampleconfig_for_ddl_sql_redshift.json
  samples/configs/teradata/sampleconfig_for_data_migration_teradata.json
  samples/configs/teradata/sampleconfig_for_ddl_sql_teradata.json
  src/common_utils/tests/mock/sample_config_for_sql.json
  src/common_utils/tests/mock/sampleconfig_for_ddl_sql_teradata.json
  src/tests/end_to_end/config/data/teradata/teradata_data.json
  src/tests/end_to_end/config/ddl/oracle/oracle_ddl.json
  src/tests/end_to_end/config/ddl/teradata/teradata_ddl.json
  src/tests/end_to_end/config/sql/teradata/teradata_sql.json
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update docs
  docs/installation/README.md
  docs/installation/README_redshift_datamigration.md
  docs/installation/README_teradata_datamigration.md
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Fix lint errors
  src/tests/unit/input_validation_utils_test.py
  src/translation/dags/translation_utils/input_validation_utils.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

cloud build sa builder role for non-default SAs
  cloudbuild-sa-iam-setup.sh
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update terraform
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add cloudbuild roles for pod firewall creation
  cloudbuild-sa-iam-setup.sh
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add cloudbuild roles for pod firewall creation
  cloudbuild-sa-iam-setup.sh
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

check secret access instead of get
  src/tests/unit/input_validation_utils_test.py
  src/translation/dags/controller_dag.py
  src/translation/dags/translation_utils/input_validation_utils.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

use removeprefix instead of lstrip
  src/datamigration/dags/redshift/redshift_data_load_dag.py
  src/datamigration/scripts/teradata/agent_controller/controller.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_oracle_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_redshift_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_teradata_ddl_extraction_group.py
  src/translation/dags/translation_utils/input_validation_utils.py
  src/translation/dvt/main.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

fixes
  src/tests/unit/input_validation_utils_test.py
  src/translation/dags/translation_utils/input_validation_utils.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

downgrade DVT version due to bug in latest
  src/translation/dvt/requirements.txt
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update req python version to 3.9
  noxfile.py
  src/translation/event_listener/requirements-test.txt
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

update secretmngr test
  src/common_utils/operators/reporting_operator.py
  src/tests/unit/input_validation_utils_test.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Add config validation and normalize secret prefix (#55)
  cloudbuild-sa-iam-setup.sh
  docs/installation/README.md
  docs/installation/README_redshift_datamigration.md
  docs/installation/README_teradata_datamigration.md
  noxfile.py
  samples/configs/oracle/sampleconfig_for_ddl_sql_oracle.json
  samples/configs/redshift/sampleconfig_for_data_migration_redshift.json
  samples/configs/redshift/sampleconfig_for_ddl_sql_redshift.json
  samples/configs/teradata/sampleconfig_for_data_migration_teradata.json
  samples/configs/teradata/sampleconfig_for_ddl_sql_teradata.json
  src/common_utils/constants.py
  src/common_utils/operators/reporting_operator.py
  src/common_utils/tests/mock/sample_config_for_sql.json
  src/common_utils/tests/mock/sampleconfig_for_ddl_sql_teradata.json
  src/datamigration/dags/redshift/redshift_data_load_dag.py
  src/datamigration/scripts/teradata/agent_controller/controller.py
  src/tests/end_to_end/config/data/teradata/teradata_data.json
  src/tests/end_to_end/config/ddl/oracle/oracle_ddl.json
  src/tests/end_to_end/config/ddl/teradata/teradata_ddl.json
  src/tests/end_to_end/config/sql/teradata/teradata_sql.json
  src/tests/unit/input_validation_utils_test.py
  src/translation/dags/controller_dag.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_oracle_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_redshift_ddl_extraction_group.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_teradata_ddl_extraction_group.py
  src/translation/dags/translation_utils/input_validation_utils.py
  src/translation/dags/validation_dag.py
  src/translation/dvt/main.py
  src/translation/dvt/requirements.txt
  src/translation/event_listener/requirements-test.txt
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber, @latika-wadhwa

Adding validation-only feature to DMT (#51)
  src/translation/dags/controller_dag.py
  src/translation/dags/dml_validation_dag.py
  src/translation/dags/validation_crun_dag.py
  src/translation/dags/validation_dag.py
  src/translation/dvt/Dockerfile
  src/translation/dvt/main.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Pins Airflow version to 2.9.3
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Pins Airflow version to 2.9.3 (#56)
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update kubernetes operator name
  src/translation/dags/validation_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Fixes Kubernetes pod name import error (#57)
  src/translation/dags/validation_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

add depends_on, use resources for SA names, other small cleanup changes
  terraform/datamigration/hive/bq/main.tf
  terraform/datamigration/hive/bq_inc/main.tf
  terraform/datamigration/redshift/cloudrun/main.tf
  terraform/datamigration/redshift/pubsub/main.tf
  terraform/datamigration/teradata/pubsub/main.tf
  terraform/translation/bq/main.tf
  terraform/translation/cloudrun/main.tf
  terraform/translation/gcc/main.tf
  terraform/translation/gcs/main.tf
  terraform/translation/pubsub/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update gcs sa block name
  terraform/translation/gcs/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

# The main branch in this repo is protected and requires reviews
# from code owners. This means that any pull request
# which affects code with a code owner must be approved
# by that code owner before the pull request can be merged
# into the protected branch.

# Pull requests which modify any of the following
# file types must be approved by one of the listed owner(s):
*       @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.py    @abcubed3 @danieldeleo @dmedora @latika-wadhwa @pcigoor @raniksingh @zhaber
*.tf    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.yaml  @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.md    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
