Repository GoogleCloudPlatform/data-migration-tool, changes with the owners that CODEOWNERS names for each.
All owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber, @latika-wadhwa

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

# The main branch in this repo is protected and requires reviews
# from code owners. This means that any pull request
# which affects code with a code owner must be approved
# by that code owner before the pull request can be merged
# into the protected branch.

# Pull requests which modify any of the following
# file types must be approved by one of the listed owner(s):
*       @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.py    @abcubed3 @danieldeleo @dmedora @latika-wadhwa @pcigoor @raniksingh @zhaber
*.tf    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.yaml  @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.md    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber

update incorrect reference
  terraform/datamigration/teradata/pubsub/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update tf, tf goog provider, terragrunt versions
  ci/dependencies.sh
  terragrunt.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Update TF IAM binding depends_on (#71)
  terraform/datamigration/hive/bq/main.tf
  terraform/datamigration/hive/bq_inc/main.tf
  terraform/datamigration/redshift/cloudrun/main.tf
  terraform/datamigration/redshift/pubsub/main.tf
  terraform/datamigration/teradata/pubsub/main.tf
  terraform/translation/bq/main.tf
  terraform/translation/cloudrun/main.tf
  terraform/translation/gcc/main.tf
  terraform/translation/gcs/main.tf
  terraform/translation/pubsub/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update tf, tf goog provider, terragrunt versions (#72)
  ci/dependencies.sh
  terragrunt.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

airflow deprecation warnings: remove provide_context from PythonOperator and rename schedule_interval to schdule
  src/common_utils/operators/reporting_operator.py
  src/datamigration/dags/hive/hive_data_load_dag.py
  src/datamigration/dags/hive/hive_inc_data_load_dag.py
  src/datamigration/dags/redshift/redshift_data_load_dag.py
  src/datamigration/dags/redshift/redshift_transfer_run_log_dag.py
  src/datamigration/dags/teradata/teradata_data_load_dag.py
  src/datamigration/dags/teradata/teradata_transfer_run_log_dag.py
  src/translation/dags/batch_sql_translation.py
  src/translation/dags/controller_dag.py
  src/translation/dags/dml_validation_dag.py
  src/translation/dags/extract_ddl_dag.py
  src/translation/dags/schema_dag.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_oracle_ddl_extraction_group.py
  src/translation/dags/validation_crun_dag.py
  src/translation/dags/validation_dag.py
  src/translation/dags/workload_identity_creator_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

make py3.11 default for nox, matching composer python
  noxfile.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

format fix
  src/datamigration/dags/redshift/redshift_transfer_run_log_dag.py
  src/datamigration/dags/teradata/teradata_transfer_run_log_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Resolve Airflow deprecation warnings (#73)
  noxfile.py
  src/common_utils/operators/reporting_operator.py
  src/datamigration/dags/hive/hive_data_load_dag.py
  src/datamigration/dags/hive/hive_inc_data_load_dag.py
  src/datamigration/dags/redshift/redshift_data_load_dag.py
  src/datamigration/dags/redshift/redshift_transfer_run_log_dag.py
  src/datamigration/dags/teradata/teradata_data_load_dag.py
  src/datamigration/dags/teradata/teradata_transfer_run_log_dag.py
  src/translation/dags/batch_sql_translation.py
  src/translation/dags/controller_dag.py
  src/translation/dags/dml_validation_dag.py
  src/translation/dags/extract_ddl_dag.py
  src/translation/dags/schema_dag.py
  src/translation/dags/translation_utils/ddl_extraction_utils/build_oracle_ddl_extraction_group.py
  src/translation/dags/validation_crun_dag.py
  src/translation/dags/validation_dag.py
  src/translation/dags/workload_identity_creator_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

rename terragrunt root file as recommended by tg
  terraform/datamigration/hive/bq/terragrunt.hcl
  terraform/datamigration/hive/bq_inc/terragrunt.hcl
  terraform/datamigration/hive/gcc/terragrunt.hcl
  terraform/datamigration/hive/gcs/terragrunt.hcl
  terraform/datamigration/redshift/bq/terragrunt.hcl
  terraform/datamigration/redshift/cloudrun/terragrunt.hcl
  terraform/datamigration/redshift/gcc/terragrunt.hcl
  terraform/datamigration/redshift/gcs/terragrunt.hcl
  terraform/datamigration/redshift/pubsub/terragrunt.hcl
  terraform/datamigration/teradata/bq/terragrunt.hcl
  terraform/datamigration/teradata/cloudrun/terragrunt.hcl
  terraform/datamigration/teradata/gcc/terragrunt.hcl
  terraform/datamigration/teradata/gce/terragrunt.hcl
  terraform/datamigration/teradata/gcs/terragrunt.hcl
  terraform/datamigration/teradata/pubsub/terragrunt.hcl
  terraform/translation/bq/terragrunt.hcl
  terraform/translation/cloudrun/terragrunt.hcl
  terraform/translation/gcc/terragrunt.hcl
  terraform/translation/gcs/terragrunt.hcl
  terraform/translation/pubsub/terragrunt.hcl
  terraform/translation/registry/terragrunt.hcl
  terraform/translation/services/terragrunt.hcl
  tg_root.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

update terragrunt cli flags
  ci/deploy.sh
  ci/destroy.sh
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Add deletion_protection flag to bq table, affecting tf destroy
  terraform/translation/bq/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add tg disable init flag, remove tg prefix from check cmd
  cloudbuild.yaml
  tg_root.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add deletion_protection flag to TF for single bq table
  terraform/translation/bq/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Rename Terragrunt root file (#74)
  ci/deploy.sh
  ci/destroy.sh
  cloudbuild.yaml
  terraform/datamigration/hive/bq/terragrunt.hcl
  terraform/datamigration/hive/bq_inc/terragrunt.hcl
  terraform/datamigration/hive/gcc/terragrunt.hcl
  terraform/datamigration/hive/gcs/terragrunt.hcl
  terraform/datamigration/redshift/bq/terragrunt.hcl
  terraform/datamigration/redshift/cloudrun/terragrunt.hcl
  terraform/datamigration/redshift/gcc/terragrunt.hcl
  terraform/datamigration/redshift/gcs/terragrunt.hcl
  terraform/datamigration/redshift/pubsub/terragrunt.hcl
  terraform/datamigration/teradata/bq/terragrunt.hcl
  terraform/datamigration/teradata/cloudrun/terragrunt.hcl
  terraform/datamigration/teradata/gcc/terragrunt.hcl
  terraform/datamigration/teradata/gce/terragrunt.hcl
  terraform/datamigration/teradata/gcs/terragrunt.hcl
  terraform/datamigration/teradata/pubsub/terragrunt.hcl
  terraform/translation/bq/terragrunt.hcl
  terraform/translation/cloudrun/terragrunt.hcl
  terraform/translation/gcc/terragrunt.hcl
  terraform/translation/gcs/terragrunt.hcl
  terraform/translation/pubsub/terragrunt.hcl
  terraform/translation/registry/terragrunt.hcl
  terraform/translation/services/terragrunt.hcl
  tg_root.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add deletion_protection flag to TF for single bq table (#76)
  terraform/translation/bq/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

pin higher tf version for composer3 support
  tg_root.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

add composer3 support
  terraform/translation/gcc/main.tf
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

fix duplicate var, change default to composer3
  terraform/translation/gcc/main.tf
  terraform/translation/gcc/variables.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

fix count missing idx err
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

fix typo
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

fix triggerer memory preset
  terraform/translation/gcc/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

change kubepodoperator namespace to composer-user-workloads which uses composerSA, removes need for workload identity setup
  src/translation/dags/validation_dag.py
  src/translation/dags/workload_identity_creator_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Add Composer3 TF support (#77)
  src/translation/dags/validation_dag.py
  src/translation/dags/workload_identity_creator_dag.py
  terraform/translation/gcc/main.tf
  terraform/translation/gcc/variables.tf
  tg_root.hcl
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Fix: Handle missing validation_only config gracefully (#79)
  src/translation/dags/validation_crun_dag.py
  src/translation/dags/validation_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

Development update
  docs/installation/README.md
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

Development update (#80)
  docs/installation/README.md
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber

chore:Migrate gsutil usage to gcloud storage
  src/datamigration/dags/datamigration_utils/hive_bq_load_utils.py
  src/datamigration/scripts/teradata/vm_start_script.sh
  src/translation/dvt/cloudbuild_dvt.yaml
  src/translation/dvt/main.py
  terraform/datamigration/hive/gcc/main.tf
  terraform/datamigration/redshift/gcc/main.tf
  terraform/datamigration/teradata/gcc/main.tf
  terraform/datamigration/teradata/gcs/main.tf
  terraform/translation/gcc/main.tf
  terraform/translation/gcs/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

chore:Migrate gsutil usage to gcloud storage
  docs/installation/README.md
  docs/installation/README_teradata_datamigration.md
  src/datamigration/dags/datamigration_utils/tests/test_hive_bq_load_utils.py
  src/datamigration/dags/datamigration_utils/tests/test_hive_bq_load_utils_inc.py
  src/translation/dags/validation_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber, @latika-wadhwa

chore:Migrate gsutil usage to gcloud storage (#82)
  src/datamigration/dags/datamigration_utils/hive_bq_load_utils.py
  src/datamigration/scripts/teradata/vm_start_script.sh
  src/translation/dvt/cloudbuild_dvt.yaml
  src/translation/dvt/main.py
  terraform/datamigration/hive/gcc/main.tf
  terraform/datamigration/redshift/gcc/main.tf
  terraform/datamigration/teradata/gcc/main.tf
  terraform/datamigration/teradata/gcs/main.tf
  terraform/translation/gcc/main.tf
  terraform/translation/gcs/main.tf
Owners: @abcubed3, @danieldeleo, @dmedora, @latika-wadhwa, @pcigoor, @raniksingh, @zhaber

chore:Migrate gsutil usage to gcloud storage (#83)
  docs/installation/README.md
  docs/installation/README_teradata_datamigration.md
  src/datamigration/dags/datamigration_utils/tests/test_hive_bq_load_utils.py
  src/datamigration/dags/datamigration_utils/tests/test_hive_bq_load_utils_inc.py
  src/translation/dags/validation_dag.py
Owners: @abcubed3, @danieldeleo, @dmedora, @pcigoor, @raniksingh, @zhaber, @latika-wadhwa
